on init
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

on fs
    mount_all /fstab.odrc
    setprop ro.crypto.state unencrypted
    setprop ro.crypto.fuse_sdcard true

    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    write /sys/class/android_usb/android0/f_ffs/aliases adb

on post-fs-data
    mkdir /data/media 0770 media_rw media_rw
    start sdcard

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on early-boot
    insmod /lib/modules/mali.ko mali_debug_level=2

    write /sys/class/graphics/fb0/blank 0
    write /sys/class/graphics/fb1/blank 1

on boot
    setprop net.dns1 8.8.8.8
    setprop net.dns2 8.8.4.4
    setprop ro.build.product odrc
    setprop ro.product.device odrc

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}

service set_display /system/bin/sh /system/bin/set_display_mode.sh
    class core
    seclabel u:r:set_display:s0
    oneshot

service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start

service dhcpcd_eth0 /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service resourcemanager /system/bin/resourcemanager
    class core
    seclabel u:r:resourcemanager:s0
    user system
    group system
